.black_button {
    display: flex;
    padding: 7%;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Dark-Gray, #232321);
    color: var(--Pure-White, #FFF);
    font-family: Rubik;
    font-size: calc(8px + 4 * (100vw / 1440));
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

@media (hover: hover){
    .dropdown-content a:hover {
        background-color: #eaeaea;
    }
    .categories_header>div>button:hover {
        background-color: rgb(187, 187, 187);
    }
}

@media (hover: none){
    .dropdown-content a:active {
        background-color: #eaeaea;
    }
    .categories_header>div>button:active {
        background-color: rgb(187, 187, 187);
    }
}

@media (max-width: 1600px) {
    :root {
        --default-vw: -75vw;
    }

    .column {
        width: 75%;
    }

    .footer_header_left {
        width: 60%;
    }

    .footer_logo {
        left: 70%;
    }
}

@media (max-width: 1400px) {
    :root {
        --default-vw: -77vw;
    }

    .main-bunner-content {
        border-radius: 48px;
    }

    .column {
        width: 77%;
    }

    .dropdown-content a {
        padding: 8px;
    }
    .about_product {
        width: 80%;
    }
}

@media (max-width: 1200px) {

    :root {
        --default-vw: -75vw;
    }

    .main-bunner-content {
        border-radius: 42px;
    }

    .categories_content button {
        padding: 4px;
    }

    .column {
        width: 75%;
    }

    .frame_img {
        outline-offset: -4px;
        outline: 4px solid #FAFAFA;
    }

    .footer_main_right {
        column-gap: 8%;
    }
}

@media (max-width: 900px) {
    #menu_button {
        display: block;
    }

    .header-left {
        display: none;
    }

    :root {
        --default-vw: -90vw;
        --coefficient-first: 0.7;
        --coefficient-second: 320px;
    }

    header {
        margin-top: 5%;
    }

    .new_drops_body {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5%;
    }

    .new_drops_frame {
        width: 44%;
    }

    .categories_content button {
        padding: 1px;
    }

    .column {
        width: 90%;
    }

}


/* Small Devices, Tablets */

@media (max-width: 768px) {

    :root {
        --coefficient-first: 0.7;
        --coefficient-second: 320px;
    }

    .main-bunner-content {
        background-image: url('../img/smallbunner.png');
        aspect-ratio: 358 / 382;
    }

    .main-bunner-left {
        top: 15%;
    }

    .main-bunner-content>.main-bunner-right {
        height: 11.5%;
    }

    .main-bunner-content>.main-bunner-right:nth-child(1) {
        bottom: 18%;
    }

    .main-bunner-text {
        gap: 12px;
    }

    .categories {
        aspect-ratio: 1440 / 2884;
    }


    .second_parent {
        aspect-ratio: 1380 / 1200;
    }

    .categories_main {
        flex-direction: column;
    }

    .categories_body {
        flex-direction: column;
    }

    .categories_content {
        width: 100%;
    }

    /*сделать контекстное меню в header слева */
    .footer_main {
        border-radius: 36px 36px 0px 0px;
        aspect-ratio: 1320 / 1182;
    }

    .footer_header {
        border-radius: 36px 36px 0px 0px;
        aspect-ratio: 1320 / 790;
    }

    .footer_main_right {
        flex-wrap: wrap;
        gap: 16%;
    }

    .Follow_us {
        margin-top: 8%;
    }

    .footer_main_left {
        left: 5%;
    }

    .footer_main_right li {
        margin-bottom: 4px;
    }

    .reviews_body {
        flex-direction: column;

    }

    .reviews_content {
        width: 100%;

    }

    .categories_content>div {
        background-size: 75%;
        background-position: 35% 55%;
        background-repeat: no-repeat;
    }

    /*prodpage*/

    .buy_product {
        width: 95%;
        flex-direction: column;
    }

    .product_info {
        width: 100%;
    }

    .product_info>p:first-of-type {
        font-size: calc(20px + 22 * (100vw / 1440));
    }

    .product_img div{
        margin-bottom: 1%;
    }

    .size_main {
        width: 100%;
    }

    .size_main>.black_button {
        padding: 3.5%;
        font-size: calc(14px + 28 * (100vw / 1440));

    }

    .get button {
        font-size: calc(20px + 4 * (100vw / 1440));
    }

    .get .black_button {
        padding: 0;
    }

    .get>.classic_button {
        padding: 4%;
    }

    .about_product>p:first-of-type {
        color: rgb(35, 35, 33);
        font-family: Rubik;
        font-size: calc(16px + 16 * (100vw / 1440));
    }


}


/* Extra Small Devices, Phones */

@media (max-width: 480px) {
    .mobile_header {
        width: 45%;
    }

    .main-bunner-content {
        border-radius: 24px;
    }

    .main-bunner-text {
        gap: 6px;
    }

    .categories_header {
        margin-inline: 0;
        justify-content: space-around;
    }

    .categories_header>div>button {
        height: 0;
        margin: auto auto;
        padding: 30% 20%;
    }

    .footer_main {
        aspect-ratio: 1320 / 1773;
    }

    .footer_header {
        aspect-ratio: 1320 / 1362;
    }

    .footer_logo {
        top: 13%;
    }

    /*listingpage*/

    .top_head>div {
        width: 100%;
        margin-bottom: 2%;
    }

    .top_head>.black_button {
        width: 48%;
    }

    .top_head>.black_button:nth-of-type(1) {
        display: block;
    }

    .content>aside {
        padding: 7% 2% 2% 2%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        width: 40%;
        background-color: #E7E7E3;
        border-right: 0.3vw solid #fff;
        z-index: 1;
        transform: translateX(-100%);

    }

    aside>img:first-of-type {
        display: block;
    }


    @keyframes open {
        from {
            height: 0;
        }

        to {
            height: 16%;

        }
    }


    /*в одну(?)*/

    @keyframes close {
        from {
            height: 16%;
        }

        to {
            height: 0;
        }
    }

}


/* Custom, iPhone Retina */

@media (max-width: 415px) {
    .footer_main_right div:nth-child(2) {
        margin-top: 8%;
    }

    .classic_button {
        padding: 3.5%;
    }
}