.new_drops_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    margin-bottom: 3%;
}

.new_drops_header p {
    width: 65%;
    color: var(--Dark-Gray, #232321);
    font-family: Rubik;
    font-size: calc(14px + 60 * (100vw / 1440));
    font-style: normal;
    font-weight: 600;
    line-height: 95%;
    /* 70.3px */
    text-transform: uppercase;
} 

.new_drops_body {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1%;
}

.new_drops_frame {
    margin-inline: 1%;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.frame_img {
    display: flex;
    width: 100%;
    aspect-ratio: 151 / 167;
    padding: 8px;
    outline: 8px solid #FAFAFA;
    outline-offset: -8px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    border-radius: 26px;
    background-image: url('../img/new_drops/4.png');
    background-size: 100%;
}

.frame_img:hover{
    padding: 16px;
}

.frame_img:hover ~ .frame_text {
    margin-top: 0px;
}

.frame_img>div {
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    left: 8px;
    top: 8px;
    border-radius: 24px 0px;
    background: var(--Blue, #4A69E2);
}

.frame_img>div>p {
    color: var(--White, #FFF);
    /* Rubik/12px */
    font-family: Rubik;
    font-size: calc(6px + 6 * (100vw / 1440));
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.frame_text {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: var(--Dark-Gray, #232321);
    font-family: Rubik;
    font-size: calc(11px + (14 + 14 * var(--coefficient-first)) * ((100vw - var(--coefficient-second)) / 1440));
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.frame_text>a, .frame_text>a>.black_button{
    width: 100%;
}